.env
.env.local
.env.production
.env.development

node_modules
**/node_modules

.next
**/.next

.vercel
**/.vercel

.expo/
**/.expo/

*.log
.next-*.log
*.tsbuildinfo
.env*.local

# Visual Studio local workspace/cache
.vs/
